.schedule-detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.schedule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.schedule-title {
  margin: 0;
  font-size: 1.25rem;
  word-break: break-word;
  color: var(--main-bg-color);
  letter-spacing: 0.2em;
}

/* .schedule-title.inactive {
  color: #6c757d;
} */

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6c757d;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.close-button:hover {
  background-color: #e9ecef;
  color: #343a40;
}

.schedule-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
  gap: 10px;
}

.info-label {
  letter-spacing: 0.2em;
  font-weight: 500;
  color: var(--main-bg-color);
  min-width: 80px;
}

.info-value {
  letter-spacing: 0.2em;
  color: var(--main-bg-color);
}

.info-value.project-name {
  font-size: 1rem;
  font-weight: 400;
  color: var(--main-bg-color);
} 

.project-name {
  font-weight: 500;
  color: #0d6efd;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content .info-label {
  margin-bottom: 5px;
}

.content-text {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 4px;
  white-space: pre-line;
  margin: 0;
  font-size: 0.95rem;
}

.schedule-actions {
  margin-right: -40px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 15px;
}

.btn-edit {
  border: 1px solid #B8D3CE;
  background-color: white;
  color: var(--main-bg-color);
  padding: 12px 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
}

.btn-edit:hover {
  filter: brightness(0.85);
  transition: filter 0.2s ease-in-out;
}

.btn-delete {
  background-color: #E86C60;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
}

.btn-delete:hover {
  filter: brightness(0.85);
  transition: filter 0.2s ease-in-out;
}

/* 반응형 디자인 */
@media (max-width: 576px) {
  .info-item {
    flex-direction: column;
    gap: 5px;
  }
  
  .info-label {
    min-width: auto;
  }
}
